<section class="features">
  <div class="container">
    <ul class="features-list">
      <li class="features-item">
        <div class="features-icon-title">
          <svg class="features-icon" width="50" height="50">
            <use href="./img/symbol-defs.svg#icon-SEO"></use>
          </svg>
          <h3 class="features-title">SEO Ready Code</h3>
        </div>
        <p class="features-text">
          Tincidunt felis dignissim justo congue, non rutrum tortor volutpat .
        </p>
      </li>
      <li class="features-item">
        <div class="features-icon-title">
          <svg class="features-icon" width="50" height="50">
            <use href="./img/symbol-defs.svg#icon-notebook"></use>
          </svg>
          <h3 class="features-title">Fully Responsive</h3>
        </div>
        <p class="features-text">
          Fully responsive on notebook, tablets and smartphones ant other .
        </p>
      </li>
      <li class="features-item">
        <div class="features-icon-title">
          <svg class="features-icon" width="50" height="50">
            <use href="./img/symbol-defs.svg#icon-features"></use>
          </svg>
          <h3 class="features-title">Awesome Features</h3>
        </div>
        <p class="features-text">
          Easy-to-use, dynamic colors, grid, video, map and much more .
        </p>
      </li>
      <li class="features-item">
        <div class="features-icon-title">
          <svg class="features-icon" width="50" height="50">
            <use href="./img/symbol-defs.svg#icon-star"></use>
          </svg>
          <h3 class="features-title">5-star-support</h3>
        </div>
        <p class="features-text t1">
          Always ready to help you create the best solution .
        </p>
      </li>
      <li class="features-item">
        <div class="features-icon-title">
          <svg class="features-icon" width="50" height="50">
            <use href="./img/symbol-defs.svg#icon-High-Customizibility"></use>
          </svg>
          <h3 class="features-title">High Customizibility</h3>
        </div>
        <p class="features-text t1">
          Create, display everything that you want in few seconds .
        </p>
      </li>
      <li class="features-item">
        <div class="features-icon-title">
          <svg class="features-icon" width="50" height="50">
            <use href="./img/symbol-defs.svg#icon-software"></use>
          </svg>
          <h3 class="features-title">Up-to-date Software</h3>
        </div>
        <p class="features-text">
          Lorem er dolor sit amet, teso adipiscing elit. Mauris .
        </p>
      </li>
    </ul>
  </div>
</section>
