<section class="few-reason">
  <div class="container">
    <div class="few-reason-header" data-aos="fade-right">
      <div class="hero-line few-reason-line"></div>
      <div>
        <h2 class="few-reason-title">Few Reasons</h2>
        <h2 class="span-few-reason">Why Choose Us</h2>
      </div>
    </div>
    <h2
      class="few-reason-subtitle-01"
      data-aos="fade-right"
      data-aos-delay="100"
    >
      .01
    </h2>
    <p class="few-reason-text-title" data-aos="fade-right" data-aos-delay="150">
      Clients
    </p>
    <p class="few-reason-text" data-aos="fade-right" data-aos-delay="200">
      Aliquam eu ante ante. Cras rutrum massa lacinia est lobortis maximus.
      Integer pellentesque nisl at odio porta iaculis. Vestibulum auctor libero
      a quam rhoncus.
    </p>
    <h2 class="few-reason-subtitle" data-aos="fade-right" data-aos-delay="300">
      .02
    </h2>
    <p class="few-reason-text-title" data-aos="fade-right" data-aos-delay="350">
      Projects
    </p>
    <p class="few-reason-text" data-aos="fade-right" data-aos-delay="400">
      Aliquam eu ante ante. Cras rutrum massa lacinia est lobortis maximus.
      Integer pellentesque nisl at odio porta iaculis. Vestibulum auctor libero
      a quam rhoncus.
    </p>
    <h2 class="few-reason-subtitle" data-aos="fade-right" data-aos-delay="500">
      .03
    </h2>
    <p class="few-reason-text-title" data-aos="fade-right" data-aos-delay="550">
      Reporting & Analysis
    </p>
    <p class="few-reason-text" data-aos="fade-right" data-aos-delay="600">
      Aliquam eu ante ante. Cras rutrum massa lacinia est lobortis maximus.
      Integer pellentesque nisl at odio porta iaculis. Vestibulum auctor libero
      a quam rhoncus.
    </p>
  </div>
</section>
