<section class="few-reason">
  <div class="container">
    <div class="few-reason-header">
      <div class="hero-line few-reason-line"></div>
      <div>
        <h2 class="few-reason-title">Few Reasons</h2>
        <h2 class="span-few-reason">Why Choose Us</h2>
      </div>
    </div>
    <h2
      class="few-reason-subtitle-01"
      data-aos="fade-right"
      data-aos-delay="100"
    >
      .01
    </h2>
    <p class="few-reason-text-title">Clients</p>
    <p class="few-reason-text">
      Aliquam eu ante ante. Cras rutrum massa lacinia est lobortis maximus.
      Integer pellentesque nisl at odio porta iaculis. Vestibulum auctor libero
      a quam rhoncus.
    </p>
    <h2 class="few-reason-subtitle">.02</h2>
    <p class="few-reason-text-title">Projects</p>
    <p class="few-reason-text">
      Aliquam eu ante ante. Cras rutrum massa lacinia est lobortis maximus.
      Integer pellentesque nisl at odio porta iaculis. Vestibulum auctor libero
      a quam rhoncus.
    </p>
    <h2 class="few-reason-subtitle">.03</h2>
    <p class="few-reason-text-title">Reporting & Analysis</p>
    <p class="few-reason-text">
      Aliquam eu ante ante. Cras rutrum massa lacinia est lobortis maximus.
      Integer pellentesque nisl at odio porta iaculis. Vestibulum auctor libero
      a quam rhoncus.
    </p>
  </div>
</section>
