<footer class="footer" id="footer-contact-us">
  <div class="container">
    <div class="footer-column">
      <div class="about-us">
        <h3 class="footer-title">ABOUT US</h3>
        <p class="about-us-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit
          amet turpis venenatis nulla dignissim scelerisque. Ut volutpat maximus
          ligula.
        </p>
        <div class="footer-soc-list">
          <a href="#" class="workers-soc-link"
            ><svg class="workers-soc-icon" width="20" height="20">
              <use href="./img/symbol-defs.svg#facebook"></use></svg
          ></a>
          <a href="#" class="workers-soc-link"
            ><svg class="workers-soc-icon" width="20" height="20">
              <use href="./img/symbol-defs.svg#telegram"></use></svg
          ></a>
          <a href="#" class="workers-soc-link"
            ><svg class="workers-soc-icon" width="20" height="20">
              <use href="./img/symbol-defs.svg#linkedin"></use></svg
          ></a>
          <a href="#" class="workers-soc-link"
            ><svg class="workers-soc-icon" width="20" height="20">
              <use href="./img/symbol-defs.svg#instagram"></use></svg
          ></a>
          <a href="#" class="workers-soc-link"
            ><svg class="workers-soc-icon" width="20" height="20">
              <use href="./img/symbol-defs.svg#youtube"></use></svg
          ></a>
        </div>
      </div>
      <div class="recent-post">
        <h3 class="footer-title">RECENT POST</h3>
        <ul class="recent-post-list">
          <li class="recent-post-item">
            <div class="recent-post-svg-text">
              <svg class="recent-post-icon" width="6" height="10">
                <use href="./img/symbol-defs.svg#icon-footer"></use>
              </svg>
              <p class="recent-post-text-1">Motion Animation And VR Headset</p>
            </div>
          </li>
          <li><div class="footer-line"></div></li>
          <li>
            <div class="recent-post-svg-text">
              <svg class="recent-post-icon" width="6" height="10">
                <use href="./img/symbol-defs.svg#icon-footer"></use>
              </svg>
              <p class="recent-post-text-1">Awesome Tips to Become CEO Of</p>
            </div>
            <p class="recent-post-text-2">Big NetWork Startup</p>
          </li>
          <li><div class="footer-line"></div></li>
          <li>
            <div class="recent-post-svg-text">
              <svg class="recent-post-icon" width="6" height="10">
                <use href="./img/symbol-defs.svg#icon-footer"></use>
              </svg>
              <p class="recent-post-text-1">Top 5 Amazing changing For The</p>
            </div>
            <p class="recent-post-text-2">Social Media Industry</p>
          </li>
        </ul>
      </div>
      <div class="contact-us">
        <h3 class="footer-title">CONTACT US</h3>
        <ul class="contact-us-list">
          <li class="contact-us-item">
            <div class="contact-us-svg-text">
              <svg class="contact-us-icon" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-adress"></use>
              </svg>
              <p class="contact-us-text-1">Address:</p>
            </div>
            <p class="contact-us-text-2">53 Hilltop Drive,Tx 79022</p>
          </li>
          <li>
            <div class="contact-us-svg-text">
              <svg class="contact-us-icon" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-telephone"></use>
              </svg>
              <p class="contact-us-text-1">Phone:</p>
            </div>
            <p class="contact-us-text-2">806-377-1600</p>
          </li>
          <li>
            <div class="contact-us-svg-text">
              <svg class="contact-us-icon" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-mail"></use>
              </svg>
              <p class="contact-us-text-1">Mail:</p>
            </div>
            <p class="contact-us-text-2">example@example.com</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
