<section class="gallery">
  <div class="gallery-container">
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="./img/gallery1.jpg"
          alt="gallery1"
          width=""
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="./img/gallery2.jpg"
          alt="gallery2"
          width=""
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="./img/gallery3.jpg"
          alt="gallery3"
          width=""
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          src="./img/gallery4.jpg"
          alt="gallery4"
          width=""
        />
      </li>
    </ul>
  </div>
</section>
