<section class="gallery">
  <div class="gallery-container">
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-img"
          srcset="
            /img/gallery/gallery1min.jpg     1x,
            /img/gallery/gallery1@2x-min.jpg 2x
          "
          src="./img/gallery/gallery1min.jpg"
          alt="gallery1"
          width=""
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          srcset="
            /img/gallery/gallery2min.jpg     1x,
            /img/gallery/gallery2@2x-min.jpg 2x
          "
          src="./img/gallery/gallery2min.jpg"
          alt="gallery2"
          width=""
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          srcset="
            /img/gallery/gallery3min.jpg     1x,
            /img/gallery/gallery3@2x-min.jpg 2x
          "
          src="./img/gallery/gallery3min.jpg"
          alt="gallery3"
          width=""
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          srcset="
            /img/gallery/gallery4min.jpg     1x,
            /img/gallery/gallery4@2x-min.jpg 2x
          "
          src="./img/gallery/gallery4min.jpg"
          alt="gallery4"
          width=""
        />
      </li>
    </ul>
  </div>
</section>
