<header class="header-section">
  <div class="container">
    <nav class="header-nav">
      <div class="header-logo">
        <img
          src="/img/Frame.png"
          alt="WebTech logo"
          class="header-logo-icon"
          width="50.29"
          height="30"
        />
        <a href="./index.html" class="header-logo-text">WebTech</a>
      </div>
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a href="./about.html" class="header-menu-link">Home</a>
        </li>
        <li class="header-menu-item">
          <a href="./contact.html" class="header-menu-link">Pages</a>
        </li>
        <li class="header-menu-item">
          <a href="./services.html" class="header-menu-link">Services</a>
        </li>
        <li class="header-menu-item">
          <a href="./portfolio.html" class="header-menu-link">Portfolio</a>
        </li>
        <li  class="header-menu-item">
          <a href="./blog.html" class="header-menu-link">Blog</a>
        </li>
        <li class="header-menu-item">
          <a
            href="#footer-contact-us"
            class="header-menu-link footer-link-contact-us"
            >Contact Us</a
          >
        </li>
      </ul>
      <div class="header-button">
        <svg class="button-svg" width="30" height="30">
          <use href="./img/symbol-defs.svg#icon-th-menu"></use>
        </svg>
      </div>
    </nav>
  </div>

  <div class="header-mob-menu">
    <div class="container mob-menu-container">
      <div class="header-mob-menu-bar">
        <div class="menu-close">
          <svg class="icon-menu-close" width="20" height="20">
            <use href="/img/symbol-defs.svg#icon-cross"></use>
          </svg>
        </div>
        <nav class="header-mob-menu-nav">
          <ul class="header-mob-menu-list">
            <li class="header-mob-menu-item">
              <a href="./about.html" class="header-mob-menu-link current"
                >Home</a
              >
            </li>
            <li class="header-mob-menu-item">
              <a href="./contact.html" class="header-mob-menu-link">Pages</a>
            </li>
            <li class="header-mob-menu-item">
              <a href="./services.html" class="header-mob-menu-link"
                >Services</a
              >
            </li>
            <li class="header-mob-menu-item">
              <a href="./portfolio.html" class="header-mob-menu-link"
                >Portfolio</a
              >
            </li>
            <li class="header-mob-menu-item">
              <a href="./blog.html" class="header-mob-menu-link">Blog</a>
            </li>
            <li class="header-mob-menu-item">
              <a href="#footer-contact-us" class="header-mob-menu-link"
                >Contact Us</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-mob-menu-soclist">
        <a href="#" class="header-mob-menu-soclink"
          ><svg class="mob-menu-soc-icon" width="40" height="40">
            <use href="./img/symbol-defs.svg#facebook"></use></svg
        ></a>
        <a href="#" class="header-mob-menu-soclink"
          ><svg class="workers-soc-icon" width="40" height="40">
            <use href="./img/symbol-defs.svg#telegram"></use></svg
        ></a>
        <a href="#" class="header-mob-menu-soclink"
          ><svg class="mob-menu-soc-icon" width="40" height="40">
            <use href="./img/symbol-defs.svg#linkedin"></use></svg
        ></a>
        <a href="#" class="header-mob-menu-soclink"
          ><svg class="mob-menu-soc-icon" width="40" height="40">
            <use href="./img/symbol-defs.svg#instagram"></use></svg
        ></a>
        <a href="#" class="header-mob-menu-soclink"
          ><svg class="mob-menu-soc-icon" width="40" height="40">
            <use href="./img/symbol-defs.svg#youtube"></use></svg
        ></a>
      </div>
    </div>
  </div>
</header>
