<section class="info">
  <div class="container">
    <div class="info-title-line" data-aos="fade-down">
      <div class="info-line"></div>
      <h2 class="info-title"><span class="span-info">How</span> we Work</h2>
    </div>

    <ul class="info-list">
      <li class="info-item" data-aos="fade-up" data-aos-delay="100">
        <img class="info-img" src="./img/Rectangle.jpg" alt="Planning" />
        <h3 class="info-text">Planning</h3>
      </li>

      <li class="poiner" data-aos="fade-up" data-aos-delay="150">
        <img src="./img/pointer.png" alt="pointer" width="156" height="26" />
      </li>

      <li class="info-item" data-aos="fade-up" data-aos-delay="200">
        <img class="info-img" src="./img/Rectangle-2.jpg" alt="Design" />
        <h3 class="info-text">Design</h3>
      </li>

      <li class="poiner2" data-aos="fade-up" data-aos-delay="250">
        <img src="./img/pointer2.png" alt="pointer2" width="156" height="26" />
      </li>

      <li class="info-item" data-aos="fade-up" data-aos-delay="300">
        <img class="info-img" src="./img/Rectangle-3.jpg" alt="Development" />
        <h3 class="info-text">Development</h3>
      </li>
    </ul>
  </div>
</section>
