<section class="innovation">
  <div class="container innovation-container">
    <img
      class="innovation-img"
      src="./img/innovarion-men.png"
      width="700px"
      alt=""
    />
    <div class="innovation-text-all">
      <h1 class="innovation-title">A New Era of</h1>
      <h2 class="innovation-title-2">Innovation</h2>
      <p class="innovation-text">
        Always on the lookout for the hi-tech advancements. Build a product that
        will sell well
      </p>
      <div class="innovation-buttons">
        <a href="#" class="innovation-button-link backdrop-button">Start Now</a>
        <a href="#" class="innovation-button-link-2">Learn More</a>
      </div>
    </div>
  </div>
</section>
