<section class="our-news">
  <div class="container">
    <div class="our-news-header" data-aos="fade-right">
      <div class="our-news-line"></div>
      <div>
        <h2 class="our-news-title">
          <span class="span-our-news">Our</span> News
        </h2>
      </div>
    </div>

    <div class="our-news-all">
      <div class="first-new">
        <img
          class="first-new-img"
          src="./img/ournews1.jpg"
          alt="first-new"
          width="770"
          data-aos="fade-right"
          data-aos-delay="100"
        />
        <div class="first-new-text-all">
          <h3
            class="first-new-title"
            data-aos="fade-right"
            data-aos-delay="200"
          >
            Motion Animation And VR Headset
          </h3>
          <p class="first-new-date" data-aos="fade-right" data-aos-delay="200">
            Emmajohnson<span class="new-date-date">May 17, 2019</span>
          </p>
          <p
            class="first-new-comments"
            data-aos="fade-right"
            data-aos-delay="300"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            vitae est accumsan, efficitur velit eu, ullamcorper sapien.
            Suspendisse aliquam libero euismod, tempus nisl. Lorem ipsum dolor
            sit amet, consectetur adipiscing elit. Aenean vitae est accumsan,
            efficitur velit eu, ullamcorper sapien. Suspendisse aliquam libero
            euismod, tempus nisl. Vivamus bibendum in risus sit amet elementum.
            Vivamus sodales .
          </p>
          <p
            class="first-new-button"
            data-aos="fade-right"
            data-aos-delay="400"
          >
            VIEW DETAILS
          </p>
        </div>
      </div>

      <div class="news-another">
        <div class="new-all-another">
          <img
            class="second-new-img"
            src="./img/ournews2.jpg"
            alt="second-new"
            width="370"
          />
          <div class="new-bar">
            <h3 class="new-title">
              Awesome Tips to Become CEO Of Big NetWork Startup
            </h3>
            <p class="new-date">
              Emmajohnson<span class="new-date">May 17, 2019</span>
            </p>
          </div>
        </div>
        <div class="new-all-another">
          <img
            class="third-new-img"
            src="./img/ournews3.jpg"
            alt="third-new"
            width="370"
          />
          <div class="new-bar">
            <h3 class="new-title">
              Top 5 Amazing changing For The Social Media Industry
            </h3>
            <p class="new-date">
              Emmajohnson<span class="new-date">May 17, 2019</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
