<section class="testimonials">
  <div class="container">
    <div class="testimonials-header" data-aos="fade-right">
      <div class="testimonials-line"></div>
      <div>
        <h2 class="testimonials-title">
          <span class="span-testimonials">Our</span> Testimonials
        </h2>
      </div>
    </div>

    <div class="slider-wrapper">
      <button class="arrow arrow-left" id="prevBtn">
        <svg class="arrow-icon" width="60" height="60">
          <use href="./img/symbol-defs.svg#icon-back"></use>
        </svg>
      </button>

      <div class="slider">
        <div class="slides">
          <div class="slide">
            <img src="./img/testimonials1-2.png" alt="" width="150" />
          </div>
          <div class="slide">
            <img src="./img/testimonials2-2.png" alt="" width="150" />
          </div>
          <div class="slide">
            <img src="./img/testimonials3-2.png" alt="" width="150" />
          </div>
        </div>
      </div>

      <button class="arrow arrow-right" id="nextBtn">
        <svg class="arrow-icon" width="60" height="60">
          <use href="./img/symbol-defs.svg#icon-next"></use>
        </svg>
      </button>
    </div>

    <div class="testimonials-text-all">
      <div class="text active">
        <p class="slide-text">
          Donec eget elit vel urna varius pharetra. Suspendisse sodales
          venenatis lorem nec tincidunt. Donec dignissim purus ut nulla
          ultricies.
        </p>
        <h3 class="slide-people">Ronald C. Hartung</h3>
        <p class="slide-professional">MARKETER</p>
      </div>

      <div class="text">
        <p class="slide-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus,
          augue sed volutpat varius.
        </p>
        <h3 class="slide-people">Sarah J. Connor</h3>
        <p class="slide-professional">DESIGNER</p>
      </div>
      <div class="text">
        <p class="slide-text">
          Aliquam erat volutpat. Curabitur viverra massa ut eros scelerisque
          volutpat.
        </p>
        <h3 class="slide-people">David K. Lewis</h3>
        <p class="slide-professional">DEVELOPER</p>
      </div>
    </div>
  </div>
</section>
