<section class="workers">
  <div class="container workers-all">
    <div class="workers-header-button">
      <div class="workers-header">
        <div class="workers-line"></div>
        <div>
          <h2 class="workers-title">
            <span class="span-workers">Our</span> Best Workers
          </h2>
        </div>
      </div>
      <a class="workers-button" href="#">View Team</a>
    </div>
    <ul class="workers-list">
      <li class="workers-item">
        <div class="workers-bar-img">
          <img
            class="workers-img"
            srcset="
              /img/workers/worker-1min.jpg     1x,
              /img/workers/worker-1@2x-min.jpg 2x
            "
            src="./img/workers/worker-1min.jpg"
            alt="Head of SEO"
            width="286"
          />
          <div class="workers-bar">
            <div class="workers-soc-list">
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#facebook"></use></svg
              ></a>
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#telegram"></use></svg
              ></a>
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#linkedin"></use></svg
              ></a>
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#instagram"></use></svg
              ></a>
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#youtube"></use></svg
              ></a>
            </div>
          </div>
        </div>
        <h3 class="workers-people">Gary D. Greenwell</h3>
        <p class="workers-text">Head of SEO</p>
      </li>
      <li class="workers-item">
        <div class="workers-bar-img">
          <img
            class="workers-img"
            srcset="
              /img/workers/worker-2min.jpg     1x,
              /img/workers/worker-2@2x-min.jpg 2x
            "
            src="./img/workers/worker-2min.jpg"
            alt="UI Designer"
            width="286"
          />
          <div class="workers-bar">
            <div class="workers-soc-list">
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#facebook"></use></svg
              ></a>
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#telegram"></use></svg
              ></a>
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#linkedin"></use></svg
              ></a>
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#instagram"></use></svg
              ></a>
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#youtube"></use></svg
              ></a>
            </div>
          </div>
        </div>
        <h3 class="workers-people">Jems W. Phelps</h3>
        <p class="workers-text">UI Designer</p>
      </li>
      <li class="workers-item">
        <div class="workers-bar-img">
          <img
            class="workers-img"
            srcset="
              /img/workers/worker-3min.jpg     1x,
              /img/workers/worker-3@2x-min.jpg 2x
            "
            src="./img/workers/worker-3min.jpg"
            alt="Web Designer"
            width="286"
          />
          <div class="workers-bar">
            <div class="workers-soc-list">
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#facebook"></use></svg
              ></a>
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#telegram"></use></svg
              ></a>
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#linkedin"></use></svg
              ></a>
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#instagram"></use></svg
              ></a>
              <a href="#" class="workers-soc-link"
                ><svg class="workers-soc-icon" width="20" height="20">
                  <use href="./img/symbol-defs.svg#youtube"></use></svg
              ></a>
            </div>
          </div>
        </div>
        <h3 class="workers-people">Sharon A. Melton</h3>
        <p class="workers-text">Web Designer</p>
      </li>
    </ul>
  </div>
</section>
