@import url('./header.css');
@import url('./hero.css');
@import url('./info.css');
@import url('./feauters.css');
@import url('./workers.css');
@import url('./few-reason.css');
@import url('./gallery.css');
@import url('./testimonials.css');
@import url('./innovation.css');
@import url('./our-news.css');

p,
h1,
h2,
h3 {
  margin: 0; /* убираем отступы у заголовков и параграфов */
}

ul {
  list-style-type: none; /* убираем точки списка */
  margin: 0; /* убираем отступы у списка */
  padding: 0; /* убираем отступы у списка */
}

a {
  text-decoration: none; /* убираем подчеркивание ссылок */
}

img {
  display: block; /*убираем пробелы под картинкой*/
  max-width: 100%; /*максимальная ширина картинки*/
  height: auto; /*автоматическая высота картинки*/
}

li:last-child {
  margin-right: 0; /*убираем отступ у последнего элемента списка*/
}

body {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Montserrat', sans-serif;
  width: 100%; /* секция занимает всю ширину окна */
  height: 100vh; /* высота = 100% высоты экрана */
}

@media screen and (min-width: 1200px) {
  body {
    padding-top: 76px; /* отступ сверху для фиксированного хедера */
  }
}

.visually-hidden {
  position: absolute; /* Убираем элемент из обычного потока страницы */
  width: 1px; /* Минимизируем ширину — почти невидимый размер */
  height: 1px; /* Минимизируем высоту по той же причине */
  margin: -1px; /* Сдвигаем элемент за пределы экрана */
  padding: 0; /* Убираем внутренние отступы — чистый блок */
  overflow: hidden; /* Скрываем всё содержимое, выходящее за границы */
  clip: rect(
    0,
    0,
    0,
    0
  ); /* Обрезаем область отображения до нуля (старый метод) */
  border: 0; /* Убираем рамку, чтобы ничего не отображалось */
}

.container {
  width: 420px; /*ширина контейнера*/
  padding-left: 10px; /*отступ слева*/
  padding-right: 10px; /*отступ справа*/
  margin: 0 auto; /*центрируем контейнер*/
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
